@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.banner{
  background-image: url("./assets/BANNER.jpg") ;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  /* background: top/cover no-repeat; */
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}



@media (max-width: 1000px) {
  .banner {
    height: 240px;
    padding-inline: 20px;
  }
  .banner p {
    font-size: 24px !important;

  }
}